@media screen and (max-width: 768px) {
  .list-group {
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
}

.img {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  input[type="file"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
}
